#info{
    float: right;
    width: 40%;
}
body{
    overflow-y: auto;
    height: 100%;
}
.pkginfo{
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.classi{
    font-size: large;
}
.pkgn{
    text-decoration: underline;
    font-weight: bolder;
    color: darkblue;
}
#model{
    width: 55%;
    position: fixed;
}
